/* #region Common */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --boolflix-primary: #434343;
    --boolflix-secondary: #979393;
    --boolflix-dark: #000000;
    --boolflix-lighter: #ffffff;
    --boolflix-danger: #ce0000;
    --boolflix-warning: #ffbd00;
}

img {
    max-width: 100%;
}

/* #endregion Common */

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background: var(--boolflix-secondary);
}

::-webkit-scrollbar-thumb {
    background: var(--boolflix-lighter);
}

/* #endregion Scrollbar */


/* #region Layout */
.container {
    width: 100%;
    max-width: 360px;
    padding: 0 1rem;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

[class^="col"] {
    padding: 1rem;
    width: 100%;
}

.col-12 {
    width: 100%;
}

/* #endregion Layout */

/* #region Utility */
.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.p-1 {
    padding: 0.5rem;
}

.p-2 {
    padding: 1rem;
}

.g-1 {
    gap: 0.5rem;
}

/* #endregion Utility */

/* #region Text style utilities */
.text-secondary {
    color: var(--boolflix-secondary);
}

.text-warning {
    color: var(--boolflix-warning);
}

/* #endregion Text style utilities */

/* #region Header */
header {
    position: fixed;
    z-index: 9999;
    width: 100%;
    padding: 0.25rem;
    background-color: var(--boolflix-dark);
    box-shadow: 0 0 0.5rem var(--boolflix-dark);
}

/* #endregion Header */

main {
    padding-top: 5rem;
}

/* #region Animation */
@keyframes rotate {
    0% {
        transform: rotateX(0deg) scale(1);
    }

    50% {
        transform: rotateX(180deg) scale(1.2);
    }

    100% {
        transform: rotateX(360deg) scale(1);
    }
}

@keyframes shadow-animation {
    0% {
        box-shadow: 0 0 0.25rem var(--boolflix-dark);
    }

    50% {
        box-shadow: 0 0 0.75rem var(--boolflix-lighter);
    }

    100% {
        box-shadow: 0 0 0.25rem var(--boolflix-dark);
    }
}

/* #endregion Animation */

/* #region Media Query */
@media (min-width: 480px) {
    header {
        padding: 1rem 2rem;
    }

    main {
        padding-top: 7rem;
    }

    .container {
        margin: auto;
        max-width: 600px;
    }

    .col-sm-6 {
        width: calc((100% / 12) * 6);
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 900px;
    }

    .col-md-4 {
        width: calc((100% / 12) * 4);
    }


}

@media (min-width: 1200px) {
    .container {
        max-width: 1300px;
    }

    .col-lg-3 {
        width: calc((100% / 12) * 3);
    }
}

@media (min-width: 1440px) {
    .container {
        max-width: 1500px;
    }

    .col-xl-2 {
        width: calc((100% / 12) * 2);
    }

}

/* #endregion Media Query */