* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --boolflix-primary: #434343;
    --boolflix-dark: #000000;
    --boolflix-lighter: #ffffff;
    --boolflix-danger: #ce0000;
    --boolflix-warning: #ffbd00;
}

img {
    max-width: 100%;
}

.container {
    width: 80%;
    padding: 0 1rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

[class^="col"] {
    padding: 1rem;
    width: 100%;
}

.col-12 {
    width: 100%;
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.p-1 {
    padding: 0.5rem;
}

.p-2 {
    padding: 1rem;
}

.g-1 {
    gap: 0.5rem;
}

@media (min-width: 480px) {
    .container {
        margin: auto;
        width: 80%;
        max-width: 420px;
    }

    .col-sm-6 {
        width: calc((100% / 12) * 6);
    }

}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    .col-md-4 {
        width: calc((100% / 12) * 4);
    }


}

@media (min-width: 1200px) {
    .container {
        max-width: 1176px;
    }

    .col-lg-3 {
        width: calc((100% / 12) * 3);
    }
}

@media (min-width: 1440px) {
    .container {
        max-width: 1400px;
    }

    .col-xl-2 {
        width: calc((100% / 12) * 2);
    }

}